/* Target all Ps */
/* p {
    color: #00ff00;
    font-size: 40px;
} */

/* target spec class */
/* .spec {
    color: aqua;
} */
/* target spec1 id */
/* #spec1 {
    color: black;

} */


    /* background-color: red; */
    /* background-color: rgb(255, 0, 0, 100%);
    background-color: #ff13ff; */
    /* background-image: url("../images/sand.jpg");
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: 50% 50%; */
    /* background-size: contain; */
/* .parent {
    color: green;
}
.parent .child {
    color: grey;
}
.parent .child span {
    color: green;
} */
.parent {
    color: red;
    .child {
        color: grey;
        & span {
            color: green;
        }
    }
}

.parent .child:hover span {
    font-weight: bold;
}