/* Better Images */

/* Keep */
#gsc-gab-2 > div[class="DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf"] {
    background-image: url(https://calendardarkmode.me/static/ci-01.png) !important;
}

/* Tasks */
#gsc-gab-4 > div[class="DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf"] {
    background-image: url(https://calendardarkmode.me/static/ci-02.png) !important;
}

/* Contacts */
#gsc-gab-9 > div[class="DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf"] {
    background-image: url(https://calendardarkmode.me/static/ci-03.png) !important;
}

/* Maps */
#gsc-gab-8 > div[class="DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf"] {
    background-image: url(https://calendardarkmode.me/static/ci-04.png) !important;
}

/* Add-ons */
div[aria-label="Get Add-ons"] > div[class="DWWcKd-OomVLb-LgbsSe-Bz112c-haAclf"] {
    background-image: url(https://calendardarkmode.me/static/ci-05.png) !important;
}